*{
    margin:0;
    padding:0;
}
.conteinar{
    display: flex;

}
.deit{
    width: 50%;
    font-size: 30px;
    margin: 200px;
}
.deit h1{
    font-size: 70px;
    color:#575757;
    margin-bottom: 30px;
    
}
.deit span{
    color: #12B3FB;
}
.deit p{
    color:#575757;
    margin-bottom: 50px;
}
.deit a{
    text-decoration: none;
   background-color: #12B3FB;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

.image{
    width: 50%;

}
.image img{
    height: 792px;
    width: 843.96px;
}
.about-me{
    display: flex;
    background-image: url(img/Fram57.jpg);
    background-position: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.secent-img{
    width: 50%;
}
.secent-img img{
    height: 735px;
    width: 600px;
    margin-left: 100px;
}
.myself{
    width: 50%;
    font-size: 30px;
    margin: 60px;
}
.myself h1{
    font-size: 70px;
    color:#575757;
    margin-bottom: 30px;
}
.myself p{
    color:#575757;
    margin-bottom: 50px;
}
.myself a{
    text-decoration: none;
    background-color: #12B3FB;
    padding: 20px;
    color: white;
    border-radius: 15px;
}
.recipies{
    margin-bottom: 100px;
}
.recipies h1{
    color: #575757;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.recipies p{
    color: #575757;
    font-size: 25px;
    width: 45%;
    margin-left: 30%;
}
.halim-recipies{
    display: flex;
    justify-content:space-around;
    margin-bottom: 100px;
}
.halim-recipies div{
    width: 610px;
    height: 562px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.halim-recipies div img{
    width:610px;
    height: 308px;
    margin-bottom: 20px;
}
.halim-recipies div h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}
.halim-recipies div p{
    font-size: 20px;
    margin: 0px 20px 0 20px;
}
.subscribers{
    margin-bottom: 100px;
    display: flex;   
    justify-content: space-around;
    width: 1582px;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-left: 156px;
}
.subscribers div{
    padding: 50px 20px;
}
.subscribers div h1{
    font-size: 64px;
    margin-bottom: 10px;
}
.subscribers div p{
    font-size: 26px;
}
.footer-distributed{
    background: black;
    text-align: center;
    padding: 55px 50px;
  }
   .footer{
    width: 100%;
  }
  .footer-distributed h3{
    color:  #ffffff;
    font:36px;
    margin: 0;
    font-size: 30px;
  }
  .footer-distributed h3 span{
    color:  tomato;
  }
 .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .copy-right{
    color:  #222;
    font-size: 20px;
    margin: 0;
  }