*{
    margin:0;
    padding:0;
}
.conteinar{
    display: flex;

}
.deit{
    width: 50%;
    font-size: 30px;
    margin: 200px;
}
.deit h1{
    font-size: 70px;
    color:#575757;
    margin-bottom: 30px;
    
}
.deit span{
    color: #12B3FB;
}
.deit p{
    color:#575757;
    margin-bottom: 50px;
}
.deit a{
    text-decoration: none;
   background-color: #12B3FB;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

.image{
    width: 50%;

}
.image img{
    height: 792px;
    width: 843.96px;
}
.about-me{
    display: flex;
    background-image: url(img/Fram57.jpg);
    background-position: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.secent-img{
    width: 50%;
}
.secent-img img{
    height: 735px;
    width: 600px;
    margin-left: 100px;
}
.myself{
    width: 50%;
    font-size: 30px;
    margin: 60px;
}
.myself h1{
    font-size: 70px;
    color:#575757;
    margin-bottom: 30px;
}
.myself p{
    color:#575757;
    margin-bottom: 50px;
}
.myself a{
    text-decoration: none;
    background-color: #12B3FB;
    padding: 20px;
    color: white;
    border-radius: 15px;
}
.recipies{
    margin-bottom: 50px;
    margin-left: 30%
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}
.recipies h1{
    color: #575757;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.recipies p{
    color: #575757;
    font-size: 30px;
    text-align: center;
    width: 600px;
}
